/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

.white-bg {
  background: #fff;
}

.panel-flexible {
  padding: 5px;
  border-radius: 3px;
}

.swipe-slider li {
  display: none;
}

.swipe-slider li:first-child {
  display: block;
}

body {
  background: url(../images/rebel.png) top left;
}

#page-title {
  display: none;
}

ul#main-menu {
  padding-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  float: left;
  position: relative;
  z-index: 99;
}

ul#main-menu li {
  width: 18%;
  margin-left: 3px;
  float: left;
  position: relative;
}

ul#main-menu li a {
  color: #000;
  text-decoration: none;
}

ul#main-menu li a:hover {
  background: #ccc;
}

ul#main-menu li a.active {
  background: #aaa !important;
}


ul#main-menu li span,
ul#main-menu li a {
  cursor: pointer;
  width: 100%;
  float: left;
  background: #fff;
  border-radius: 3px;
  padding: 5px;
}

ul#main-menu li ul {
  position: absolute;
  top: 19px;
  left: -3px;
  display: none;
  width: 95.4%;
}

ul#main-menu li ul li {
  display: block;
  clear: both;
  width: 100%;
}

.breadcrumb {
  padding: 2px 5px;
  background: #fff;
  border-radius: 3px;
  float: right;
  margin-bottom: 10px;
}

#region-footer-first {
  background: #fff;
  border-radius: 3px;
  margin-top: 10px;
}

#region-footer-first ul.nice-menu-down li {
  background: #fff !important;
  border: 0 !important;
}

#region-footer-first ul.nice-menu-down ul {
  display: block !important;
  visibility: visible !important;
  position: relative !important;
  top: 0 !important;
  border: 0 !important;
}

#region-footer-first ul.nice-menu-down li.active-trail a {
  color: #000 !important;
}

#block-nice-menus-2 {
  width: 80%;
  float: left;
}

#block-block-1 {
  float: right;
  margin: 20px 20px 0 0;
}

#block-block-1 p {
  line-height: 1em;
  font-size: 8em;
}

.pane-node-title {
  font-size: 4em;
  font-weight: bold;
  line-height: 1em;
  margin: 10px 0 30px 0;
}

#animalList .views-row {
  float: left;
  margin: 0 20px 20px 0;
  text-align: center;
}

#animalList .views-row a{
  text-decoration: none;
  color: #000;
}

#animalList .views-row a:hover {
  text-decoration: underline;
}

.panels-flexible-region-animalPage-sidebar-inside {
}

.view-animal-list .item-list ul li {
  margin-left: 0;
  text-align: center;
}

.view-animal-list .item-list ul li a {
  text-decoration: none;
  color: #000;
}

.view-animal-list .item-list ul li a:hover {
  text-decoration: underline;
}

.animalPage-white-bg-main-row-middle .panels-flexible-region {
  border-left: 1px solid #ccc;
  margin-left: 5px;
}

.animalPage-white-bg-main-row-right img {
  width: 100%;
}

.branding-data {
  background: #fff;
  padding: 10px;
  border-radius: 3px;
}

